* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  margin: 30px;
}

.wrapper h1 {
  text-align: center;
}

.container {
  margin: 20px 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.card {
  height: 590px;
  width: 260px;
  margin-bottom: 20px;

  -webkit-box-shadow: -1px 10px 13px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 10px 13px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 10px 13px -6px rgba(0, 0, 0, 0.75);
}
.card img {
  object-fit: cover;
}
.card .text-content {
  margin: 10px 10px;
}
.card p {
  line-height: 24px;
  font-size: 18px;
  overflow-x: hidden;
}
